<a href="https://colab.research.google.com/github/deviramasamy/Python/blob/main/Lambda_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda function: keyword is lambda and it is an anonymous function without a name.
Lambda function can have any number of arguments but only 1 expression.

Syntax:

lambda arguments : expression

In [3]:
#to find odd or even number
(lambda x : (x % 2 and 'odd' or 'even'))(30)

'even'

In [6]:
#checks if a string is a substring of a given string
sub_string = lambda string : string in "Welcome to ITC company ltd"
print(sub_string('python'))

sub_string = lambda string : string in "Welcome to ITC company ltd"
print(sub_string('welcome'))

sub_string = lambda string : string in "Welcome to ITC company ltd"
print(sub_string('Welcome'))

False
False
True

In [11]:
#lambda function using filter function
#going to filter numbers using a specific condition
num = [10,20,45,65,54,70]
greater = list(filter(lambda num : num >30, num))
print(greater)

#filter list of numbers divisible by 4
n = [4,8,12,15,54,46]
divide = list(filter(lambda n : (n%4 == 0),n))
print(divide)

[45, 65, 54, 70]
[4, 8, 12]

In [16]:
#map function with lambda function-map function accepts 2 arguements, function and a list.
#It takes that function and applies it to every element of the list and returns the modified list.
list1 = [10,20,30,40,70,80]
double_number = list(map(lambda x : x*2, list1))
print(double_number)

#power of a number raised to 3

list3 = [2,3,5,6,7,8]
cube = map(lambda x : pow (x,3), list3)
print(list(cube))

list3 = [2,3,5,6,7,8]
cube = list(map(lambda x : pow (x,3), list3))
print(cube)

[20, 40, 60, 80, 140, 160]
[8, 27, 125, 216, 343, 512]
[8, 27, 125, 216, 343, 512]

In [24]:
#use of reduced function along with lambda function-part of func tool modules. we need to import frunc tools modules
#it applies rolling calculation to all items in the list. we can use to calculate total sum or multiply all the numbers together.

from functools import reduce
list2 = [2,3,4,5,6,7]
sum = reduce(lambda x,y : x+y,list2)
print(sum)

list2 = [2,3,4,5,6,7]
product = reduce(lambda x,y : x*y,list2)
print(product)

#lambda function within a user defined function

def quad(a,b,c):
    return lambda x : a*x**2+b*x+c
f = quad(2,3,5)  
f(2)

27
5040

19