<a href="https://colab.research.google.com/github/deviramasamy/Python/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas:
Library in Python which is used for data processing and helps in data analysis and cleaning. Provides functions and methods to efficiently manipulate large datasets.Python Pandas can be used on any type of data.

The data structure in pandsas are in series- 1 dimentional array and data frame-2 dimentional array.

Series are 1 dimentional array with labels and can contain any data type.It will have index label and column label.
Dataframe is 2 dimentional data structure with labels and can use labels to locate data. Row index and column index.

In the coding Series and DataFrame are capitalised

In [67]:
import pandas as pd
#to check panda version
print(pd.__version__)
#to read a series
data=pd.Series([1,2,3])
print(data)

1.3.5
0    1
1    2
2    3
dtype: int64

In [68]:
#@title Series create,manipulate, query and delete
#creating a series from list
#series is case sensitive
series= [1,2,3,4,5]
series1=pd.Series(series)
print(series1)

#if we want to change the index to start from 1
order=[1,2,3,4,5]
s1=pd.Series(series, index=order)
print(s1)

#creating numpy array and assigning an index

#import numpy as np
#n=np.random.randn(5) #creating random array
#index=['a''b','c','d','e']
#s2= pd.Series(n, index=index)
#print(s2)

#create series from dic

dic={'a':1,'b':2,'c':3}
s3=pd.Series(dic)
print(s3)

#modify the series of index
print(s1)
s1.index = ['a','b','c','d','e']
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64
1    1
2    2
3    3
4    4
5    5
dtype: int64
a    1
b    2
c    3
dtype: int64
1    1
2    2
3    3
4    4
5    5
dtype: int64
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
#slicing
sli=s1[:3]
print(sli)

sli=s1[:-1]
print(sli)

sli=s1[3:]
print(sli)

#append,drop
s4=[6,7,8,9,10]
s5=pd.Series(s4, index=order)
print(s5)
s6=s1.append(s5)
print(s6)

print(s5.drop(5))

In [53]:
#@title Series Operations
#create 2 arrays
arr1=[1,2,3,4,5,6,7]
arr2=[6,7,8,9,10,5]
s7=pd.Series(arr2)
print(s7)
s8=pd.Series(arr1)
print(s8)
print(s7.add(s8))
#sub
#mul
#div

0     6
1     7
2     8
3     9
4    10
5     5
dtype: int64
0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64
0     7.0
1     9.0
2    11.0
3    13.0
4    15.0
5    11.0
6     NaN
dtype: float64

In [57]:
#median,max and min
print('max',s7.max())
print('min',s7.min())
print('median',s7.median())

max 10
min 5
median 7.5

In [82]:
#@title Create Dataframe
#define time sequence as Index
import pandas as pd
import numpy as np

dates=pd.date_range('today',periods=6)

#create numpy array and use dataframe
num_arr1=np.random.randn(6,4)
columns=['A','B','C','D']
df1= pd.DataFrame(num_arr1, index=dates, columns=columns)
print(df1) 

#create dataframe with dic array

data={'animal':['cat','lion','tiger'],
      'age':[12,14,5],
      'visits':[1,2,3]
      }
labels = ['a','b','c']      

df2=pd.DataFrame(data, index=labels)
print(df2)

##to find datatype
print(df2.dtypes)

print(df2.head(2))

print(df2.tail(2))

print(df2.index)
print(df2.columns)

#convert to numpy array - values and index don't have brackets at the end as they both are objects
print(df2.values)

                                   A         B         C         D
2023-02-02 12:53:33.364305  0.162182  0.251565  0.614543 -1.312994
2023-02-03 12:53:33.364305  0.875891 -0.084936  0.750046 -1.995780
2023-02-04 12:53:33.364305  2.015129 -0.209278 -0.201572 -0.667349
2023-02-05 12:53:33.364305  0.364630 -0.259009  0.397785 -0.411721
2023-02-06 12:53:33.364305 -0.328638  0.612481  0.453236  0.303464
2023-02-07 12:53:33.364305 -0.626934  0.434717 -1.643043  0.004172
  animal  age  visits
a    cat   12       1
b   lion   14       2
c  tiger    5       3
animal    object
age        int64
visits     int64
dtype: object
  animal  age  visits
a    cat   12       1
b   lion   14       2
  animal  age  visits
b   lion   14       2
c  tiger    5       3
Index(['a', 'b', 'c'], dtype='object')
Index(['animal', 'age', 'visits'], dtype='object')
[['cat' 12 1]
 ['lion' 14 2]
 ['tiger' 5 3]]

In [84]:
#Describe the data-describes everything like median,max,min
print(df2.describe())

             age  visits
count   3.000000     3.0
mean   10.333333     2.0
std     4.725816     1.0
min     5.000000     1.0
25%     8.500000     1.5
50%    12.000000     2.0
75%    13.000000     2.5
max    14.000000     3.0

In [90]:
#Manipulation of data
#transposing-flipping column as index and index as columns
print(df2.T)

#sorting the data
print(df2.sort_values(by='age'))
print(df2.sort_values(by='visits'))

#slicing dataframe
print(df2[1:3])
print(df2.sort_values(by='age')[1:3])

          a     b      c
animal  cat  lion  tiger
age      12    14      5
visits    1     2      3
  animal  age  visits
c  tiger    5       3
a    cat   12       1
b   lion   14       2
  animal  age  visits
a    cat   12       1
b   lion   14       2
c  tiger    5       3
  animal  age  visits
b   lion   14       2
c  tiger    5       3
  animal  age  visits
a    cat   12       1
b   lion   14       2