<a href="https://colab.research.google.com/github/deviramasamy/Python/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas:
Library in Python which is used for data processing and helps in data analysis and cleaning. Provides functions and methods to efficiently manipulate large datasets.Python Pandas can be used on any type of data.

The data structure in pandsas are in series- 1 dimentional array and data frame-2 dimentional array.

Series are 1 dimentional array with labels and can contain any data type.It will have index label and column label.
Dataframe is 2 dimentional data structure with labels and can use labels to locate data. Row index and column index.

In the coding Series and DataFrame are capitalised

In [67]:
import pandas as pd
#to check panda version
print(pd.__version__)
#to read a series
data=pd.Series([1,2,3])
print(data)

1.3.5
0    1
1    2
2    3
dtype: int64

In [68]:
#@title Series create,manipulate, query and delete
#creating a series from list
#series is case sensitive
series= [1,2,3,4,5]
series1=pd.Series(series)
print(series1)

#if we want to change the index to start from 1
order=[1,2,3,4,5]
s1=pd.Series(series, index=order)
print(s1)

#creating numpy array and assigning an index

#import numpy as np
#n=np.random.randn(5) #creating random array
#index=['a''b','c','d','e']
#s2= pd.Series(n, index=index)
#print(s2)

#create series from dic

dic={'a':1,'b':2,'c':3}
s3=pd.Series(dic)
print(s3)

#modify the series of index
print(s1)
s1.index = ['a','b','c','d','e']
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64
1    1
2    2
3    3
4    4
5    5
dtype: int64
a    1
b    2
c    3
dtype: int64
1    1
2    2
3    3
4    4
5    5
dtype: int64
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
#slicing
sli=s1[:3]
print(sli)

sli=s1[:-1]
print(sli)

sli=s1[3:]
print(sli)

#append,drop
s4=[6,7,8,9,10]
s5=pd.Series(s4, index=order)
print(s5)
s6=s1.append(s5)
print(s6)

print(s5.drop(5))

In [53]:
#@title Series Operations
#create 2 arrays
arr1=[1,2,3,4,5,6,7]
arr2=[6,7,8,9,10,5]
s7=pd.Series(arr2)
print(s7)
s8=pd.Series(arr1)
print(s8)
print(s7.add(s8))
#sub
#mul
#div

0     6
1     7
2     8
3     9
4    10
5     5
dtype: int64
0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64
0     7.0
1     9.0
2    11.0
3    13.0
4    15.0
5    11.0
6     NaN
dtype: float64

In [57]:
#median,max and min
print('max',s7.max())
print('min',s7.min())
print('median',s7.median())

max 10
min 5
median 7.5

In [78]:
#@title Create Dataframe
#define time sequence as Index
import pandas as pd
import numpy as np

dates=pd.date_range('today',periods=6)

#create numpy array and use dataframe
num_arr1=np.random.randn(6,4)
columns=['A','B','C','D']
df1= pd.DataFrame(num_arr1, index=dates, columns=columns)
print(df1) 

#create dataframe with dic array

data={'animal':['cat','lion','tiger'],
      'age':[12,14,5],
      'visits':[1,2,3]
      }
labels = ['a','b','c']      

df2=pd.DataFrame(data, index=labels)
print(df2)

##to find datatype
print(df2.dtypes)

print(df2.head(2))

print(df2.tail(2))

                                   A         B         C         D
2023-02-02 12:47:16.646870  0.864371 -0.260970  0.261757  0.280517
2023-02-03 12:47:16.646870  1.973202  0.367397 -1.600923 -1.368632
2023-02-04 12:47:16.646870  0.145614  2.315308 -0.536266 -1.124607
2023-02-05 12:47:16.646870  1.306358  0.246706 -0.233981  0.744734
2023-02-06 12:47:16.646870  1.664511  1.203982 -1.056115 -0.232751
2023-02-07 12:47:16.646870 -0.240202 -0.694600 -0.059928  0.580887
  animal  age  visits
a    cat   12       1
b   lion   14       2
c  tiger    5       3
animal    object
age        int64
visits     int64
dtype: object
  animal  age  visits
a    cat   12       1
b   lion   14       2
  animal  age  visits
b   lion   14       2
c  tiger    5       3