<a href="https://colab.research.google.com/github/deviramasamy/Python/blob/main/Pandas_training_1_2_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd

data =pd.read_csv("/content/Bigmarket.csv")
#print(date)
print(data.head())#1ast 5 records
print(data.tail())#last 5 records

#to find how many rows and columns
print(data.shape)
print(data.info())

print(data.describe())

  Month Store  Sales
0   Jan     A  31037
1   Jan     B  20722
2   Jan     C  24557
3   Jan     D  34649
4   Jan     E  29795
   Month Store  Sales
20   May     A  29487
21   May     B  40001
22   May     C  46482
23   May     D  46313
24   May     E  47594
(25, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Month   25 non-null     object
 1   Store   25 non-null     object
 2   Sales   25 non-null     int64
dtypes: int64(1), object(2)
memory usage: 728.0+ bytes
None
             Sales
count     25.00000
mean   34318.44000
std     8604.09835
min    20722.00000
25%    28312.00000
50%    31874.00000
75%    40241.00000
max    47814.00000

In [26]:
#specific column to see
print(data[['Sales','Month']])

Month      Jan
Store        B
Sales    20722
Name: 1, dtype: object

In [27]:
#to find the index location
print(data.iloc[1])

Month      Jan
Store        B
Sales    20722
Name: 1, dtype: object