<a href="https://colab.research.google.com/github/deviramasamy/Python/blob/main/Producer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
pip install kafka-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kafka-python in /usr/local/lib/python3.8/dist-packages (2.0.2)

In [36]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [37]:
producer = KafkaProducer(bootstrap_servers=['204.236.241.71:9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [38]:
producer.send('devi1', value={'Kiruthika':'is great'})

In [42]:
df = pd.read_csv("Stock_dataset.csv")

In [43]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,31/12/1986,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0,333.879006
1,HSI,02/01/1987,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0,330.213013
2,HSI,05/01/1987,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0,331.811987
3,HSI,06/01/1987,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0,335.906987
4,HSI,07/01/1987,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0,338.923013

In [47]:
df.sample(1)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
28332,IXIC,02/06/1994,737.650024,739.72998,735.630005,739.5,739.5,297820000,739.5