<a href="https://colab.research.google.com/github/deviramasamy/Python/blob/main/Producer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install kafka-python #install python and kafka

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting kafka-python
  Downloading kafka_python-2.0.2-py2.py3-none-any.whl (246 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 246.5/246.5 KB 9.9 MB/s eta 0:00:00
Installing collected packages: kafka-python
Successfully installed kafka-python-2.0.2

In [2]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [4]:
producer = KafkaProducer(bootstrap_servers=['54.160.84.82:9092'], #change ip here and this code is for the producer
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [8]:
producer.send('devibaabu', value={'Kiruthika':'is great'}) #this is where we are sending the file through the topic created so that this will be visible in the consumer

In [15]:
df = pd.read_csv("Stock_dataset.csv") #to read the csv file and store in a dataframe

In [16]:
df.head() #to display the top 5 rows in the csv

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,31/12/1986,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0,333.879006
1,HSI,02/01/1987,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0,330.213013
2,HSI,05/01/1987,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0,331.811987
3,HSI,06/01/1987,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0,335.906987
4,HSI,07/01/1987,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0,338.923013

In [12]:
df.sample(1) #just to read a random row in the file

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
65213,399001.SZ,18/01/2018,11287.63965,11375.11035,11279.41992,11319.91016,11319.86523,89600,1811.185626

In [ ]:
df.sample(1).to_dict() #to convert the sample into dictionary format

{'Index': {29720: 'IXIC'},
 'Date': {29720: '30/11/1999'},
 'Open': {29720: 3424.610107},
 'High': {29720: 3424.610107},
 'Low': {29720: 3326.530029},
 'Close': {29720: 3336.159912},
 'Adj Close': {29720: 3336.159912},
 'Volume': {29720: 1548680000},
 'CloseUSD': {29720: 3336.159912}}

In [ ]:
df.sample(1).to_dict(orient="records") #this will give the dictionary in a proper format. Like Index and then value rather than the above format

[{'Index': 'GSPTSE',
  'Date': '13/10/1994',
  'Open': 4379.200195,
  'High': 4379.200195,
  'Low': 4340.600098,
  'Close': 4343.399902,
  'Adj Close': 4343.399902,
  'Volume': 71230000,
  'CloseUSD': 3605.021919}]

In [18]:
while True:
        dict_stock= df.sample(1).to_dict(orient="records")[0]
              # to extract it into a proper json format, we need to include [0]
        producer.send('devibaabu', value=dict_stock)

KeyboardInterrupt: ignored