<a href="https://colab.research.google.com/github/deviramasamy/Python/blob/main/Python_day2_31_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world")

a="all"
print(" Hello " ,  a)

Hello world
 Hello  all

In [4]:
#print with modulo
#
name = "Devi"
comp = "ITC"
id = 101
print("%10s %10s %5d" %(name,comp,id))
print("%10s %10s %5d" %('Rupali','ITC1',102))

      Devi        ITC   101
    Rupali       ITC1   102

#Variables and keywords: 
##subheading
###topic
####paragraph/explanation

In [ ]:
#operator
#modulus
10%3
int(10/3)
10//3 #floor division
2*2
2**3 #exponent

8

In [ ]:
#id() function - returns the identity of the object
a="abc"
b="rain"
c=5
print(id(str(a)))
print(id(str(b)))
print(id(c))

139647660998000
139647168354544
9793216

In [ ]:
#Type interference
fname="devi"
eid=100
print(type(fname))
print(type(eid))

<class 'str'>
<class 'int'>

In [ ]:
#is - similar to equals 
num1=10
num2=20
print(num1 is num2)

#in operator- will search for key and not the value

a= "hello world"
b={1:'a',2:'b'} #dictionary,1 n2 is a key
print('h' in a)
print(1 in b)
print('a' in b)

False
True
True
False

In [ ]:
#list-Mutable,duplicate values
#tuple-Immutable
#set-Immutable, unique values
#dict-Mutable-keyvalue pair.very efficient to access key

input1=[1,2,3,4,5,6,6,3]
input1=set(input1)
output=[1,2,3,4,5]

print(dir(list))

set1={1,2,3,4}
set1.add(5)
set1.add(-2)
print(set1)

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
{1, 2, 3, 4, 5, -2}

In [ ]:
#if statement
grade='A'
if grade=='A':
  print("Excellent")
elif grade == 'B':
  print("very good")
else:
  print("Bad")

grade=int(input("enter the grade")) #Explicit type cast
if grade>90:
  print("Excellent")
elif grade>80:
  print("good")  
else:
  print("Bad")

Excellent
enter the gradeB

ValueError: ignored

In [ ]:
a=3.5
type(a)

float

In [ ]:
#For loop

lst=[1,2,3,4,5]
count=0
for num in lst:
  if num % 2 !=0:
    count=count+1
    print(num)
  if count ==2:
    break;

1
3

In [ ]:
#slicing-the part of the item and also indexing-Only 1 letter
#start-stop-step
sub="python"
print(sub[0])
print(sub[0:])
print(sub[0:3])
print(sub[0:5:2])
print(sub[:3])
print(sub[::-1])#reverse the string

list=[1,2,3,4,5]
print(list[::-1])
print(list.reverse())

p
python
pyt
pto
pyt
nohtyp
[5, 4, 3, 2, 1]
None